/* For custom styles and overrides of Materializes' */


/* OVERRIDES */


/* CUSTOM STYLES */

nav {
    /*    position: fixed;*/
}
.navbar-fixed {
    height: 0px;
}
.nav-wrapper {
    width: 100%;
}
nav ul a {
    color: white;
}
#logo-container {
    font-size: 10px;
}
