/* For custom styles and overrides of Materialize's */


/* =====OVERRIDES===== */

.footer-copyright {
    font-size: 1.5em;
}
.navbar-fixed {
    height: 0px;
}
.nav-wrapper {
    width: 100%;
    padding-top: 3vh;
}
.button-collapse {
    font-size: 1.25em;
    color: white;
    padding-left: 1em;
    font-weight: 200;
}

/* .nav-wrapper li>a>img {
    margin-top: -1vh;
} */


/* =====CUSTOM STYLES===== */

nav {
    /*    position: fixed;*/
}
nav ul {
    vertical-align: center;
}
nav ul li {
    width: 19%;
    text-align: center;
    display: block;
}
nav ul li a {
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    color: white;
}
#intro-banner {
    position: relative;
    height: 100vh;
}
